@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base Styles */

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html.dark select,
html.dark option {
    background-color: #1f2937;
    color: #f9fafb;
}
